
.places__paragraph {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;

  padding: 0;
  padding-bottom: 1.5rem;
  margin: 0;
}

.places__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 1.62;
  }
}

