
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__main-illustration/lead__main-illustration.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  padding: 0;
  padding-top: 3.5rem;
  margin: 0 9.25rem;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-top: 3rem;
    margin: 0 3rem;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
  }
}
