
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__main-illustration/lead__main-illustration.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  width: calc(100% - 18.5rem);
  padding: 0;
  padding-top: 3.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead {
    width: calc(100vw - 18.5rem);
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 6rem);
    padding-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
