
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item/_style/intro__list-item_style_bold.css);

.intro {
  max-width: 690px;
  padding: 0;
  margin: 0;
  margin-left: 9.25rem;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
    margin: 0 1rem;
  }
}
